
services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - wordpress

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    volumes:
      - wordpress_db:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    secrets:
      - db_password
      - db_root_password

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      - mariadb
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

volumes:
  wordpress_db:
    driver: local
    driver_opts:
      type: none
      device: /home/ayasar/data/mysql
      o: bind
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      device: /home/ayasar/data/wordpress
      o: bind

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt

networks:
  inception:
    driver: bridge
