services:
  nginx:
    build: ./srcs/requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      wordpress:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f -k https://localhost:443 || exit 1"]
      interval: 5s # Health check her 5 saniyede bir çalıştırılır
      timeout: 3s # Her test 3 saniye içinde tamamlanmalı, yoksa başarısız sayılır
      retries: 5 # Bir container unhealthy kabul edilmeden önce 5 başarısız deneme yapılır
      start_period: 10s # Container başladıktan sonraki ilk 10 saniye, başarısız health check'ler retry sayısına eklenmez. Container'ın başlangıç süresini verir.

  mariadb:
    build: ./srcs/requirements/mariadb
    container_name: mariadb
    restart: always
    volumes:
      - wordpress_db:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    secrets:
      - db_password
      - db_root_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 30s


  wordpress:
    build: ./srcs/requirements/wordpress
    container_name: wordpress
    restart: always
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    depends_on:
      mariadb:
        condition: service_healthy
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    healthcheck:
      test: ["CMD-SHELL", "pidof php-fpm7.4 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 40s


volumes:
  wordpress_db:
    driver: local
    driver_opts:
      type: none
      device: /home/ayasar/data/mysql
      o: bind
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      device: /home/ayasar/data/wordpress
      o: bind

secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt
  wp_user_password:
    file: ./secrets/wp_user_password.txt

networks:
  inception:
    driver: bridge
